---
layout: default
title: HomePage
---

<div class="wrapper">
    <header class="header">
        <nav class="header__menu menu">
            <a href="#" class="menu__link">Домашняя</a>
            <a href="#" class="menu__link">Сделать заказ</a>
        </nav>
    </header>
    <main class="page">
        <div class="page__wrapper">

            <div class="page__screen screen">
                <div class="screen__content">
                    <h1 class="screen__title screen__title_bg" data-swiper-parallax="50%" data-swiper-parallax-opacity="0">Title</h1>
                </div>
                <div class="screen__body">
                    <div class="screen__image" data-swiper-parallax="50%" data-swiper-parallax-scale="1.1">
                        <img src="assets/img/wrapper.jpg" alt="упс что то не так">
                    </div>
                </div>
            </div>

            <div class="page__screen screen">
                <div class="screen__content">
                    <h1 class="screen__title screen__title_bg" data-swiper-parallax="-100%" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1000">Title</h1>
                </div>
                <div class="screen__body">
                    <div class="screen__image">
                        <img src="assets/img/wrapper.jpg" alt="упс что то не так">
                    </div>
                </div>
            </div>

        </div>
        <div class="page__pagination"></div>
        <div class="page__scroll"></div>
    </main>
</div>